---

import Layout from '../layouts/Layout.astro';
import Hero from '../components/index/Hero/Hero.astro';
import FeaturedIn from '../components/index/FeaturedIn/FeaturedIn.astro';
import WhyChooseBrandbeat from '../components/index/WhyChooseBrandbeat/WhyChooseBrandbeat.astro';
import Carousel from '../components/index/Carousel/Carousel.astro';
import Testimonial from '../components/index/Testimonial/Testimonial.astro';
import FeaturedBlogs from '../components/index/FeaturedBlogs/FeaturedBlogs.astro';
import FAQ from '../components/index/FAQ/FAQ.astro';
import GetAFreeQuote from '../components/index/GetAFreeQuote/GetAFreeQuote.astro';
---

<Layout>
	<Hero />
	<div class="page_content">
		<FeaturedIn />
		<WhyChooseBrandbeat />
		<Carousel />
		<Testimonial />
		<FeaturedBlogs />
		<FAQ />
		<GetAFreeQuote />
	</div>
</Layout>
