---
import { Image } from 'astro:assets';

import FiveStarReview from './images/5_star_review.avif'
---

<section id="projects" class="home_projects">
    <section id="testimonials" class="home_testimonials">
      <div class="container_flex">
        <div class="title_wrap vflex">
          <div class="section-tag_container overline">
            <div>Testimonials</div>
            <div class="section-tag_line"></div>
          </div>
          <h2 class="content_h2 width-75 padding_15-l">Here&#x27;s what our <span class="h2_span highlight">clients</span> have to say</h2>
          <div class="section-descrption_container">
            <p class="paragraph left_align">Discover how our digital marketing strategies has helped clients achieve success and solve challenges.</p>
          </div>
        </div>
        <div class="testimonial-block_layout">
          <div class="testimonial-card">
            <div class="testimonial-card-content">
              <div class="testimonial-card-heading">Amazing Services</div>
              <p class="testimonial-card-review">&quot;The staff at Brand Beat were incredibly helpful and attentive! From the moment I walked in, I felt valued as a customer. They took the time to understand my needs and provided expert recommendations. The quality of their work exceeded my expectations, and I couldn&#x27;t be happier with the final result!&quot;</p>
            </div>
            <div class="testimonial-card-rating"><Image src={FiveStarReview} loading="lazy" width="97" height="24" alt=""  class="testimonial-star-img"></div>
            <div class="testimonial-quote-large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="142" height="94" viewBox="0 0 142 94" fill="none"><!-- !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                <path fill="#ffffff" d="M0.984 57.464C0.984 79.616 13.464 93.032 32.496 93.032C49.344 93.032 60.576 82.736 60.576 68.072C60.576 55.28 50.592 44.984 36.864 44.984C34.68 44.984 32.184 45.296 29.688 45.92C33.432 31.568 47.472 24.392 65.88 26.888V5.048C31.248 0.367981 0.984 24.704 0.984 57.464ZM76.488 57.464C76.488 79.616 88.968 93.032 108 93.032C125.16 93.032 136.08 82.736 136.08 68.072C136.08 55.28 126.096 44.984 112.368 44.984C110.184 44.984 107.688 45.296 105.192 45.92C108.936 31.568 122.976 24.392 141.384 26.888V5.048C106.752 0.367981 76.488 24.704 76.488 57.464Z"></path>
              </svg></div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card-content">
              <div class="testimonial-card-heading">Great Experience</div>
              <p class="testimonial-card-review">&quot;I had a fantastic experience with the team at Brand Beat. They listened to my requirements and went above and beyond to ensure my vision was realized. The atmosphere was welcoming, and their professionalism made the whole process smooth and enjoyable. I genuinely appreciate their dedication.&quot;</p>
            </div>
            <div class="testimonial-card-rating"><Image src={FiveStarReview} loading="lazy" width="97" height="24" alt=""  class="testimonial-star-img"></div>
            <div class="testimonial-quote-large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="142" height="94" viewBox="0 0 142 94" fill="none"><!-- !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                <path fill="#ffffff" d="M0.984 57.464C0.984 79.616 13.464 93.032 32.496 93.032C49.344 93.032 60.576 82.736 60.576 68.072C60.576 55.28 50.592 44.984 36.864 44.984C34.68 44.984 32.184 45.296 29.688 45.92C33.432 31.568 47.472 24.392 65.88 26.888V5.048C31.248 0.367981 0.984 24.704 0.984 57.464ZM76.488 57.464C76.488 79.616 88.968 93.032 108 93.032C125.16 93.032 136.08 82.736 136.08 68.072C136.08 55.28 126.096 44.984 112.368 44.984C110.184 44.984 107.688 45.296 105.192 45.92C108.936 31.568 122.976 24.392 141.384 26.888V5.048C106.752 0.367981 76.488 24.704 76.488 57.464Z"></path>
              </svg></div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card-content">
              <div class="testimonial-card-heading">Outstanding Results</div>
              <p class="testimonial-card-review">&quot;The final product from Brand Beat was outstanding. I&#x27;ve received countless compliments since I started using their services. Their unique approach really sets them apart. The attention to detail was remarkable, and it’s clear they take pride in their work. I will definitely be back for future projects.&quot;</p>
            </div>
            <div class="testimonial-card-rating"><Image src={FiveStarReview} loading="lazy" width="97" height="24" alt=""  class="testimonial-star-img"></div>
            <div class="testimonial-quote-large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="142" height="94" viewBox="0 0 142 94" fill="none"><!-- !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                <path fill="#ffffff" d="M0.984 57.464C0.984 79.616 13.464 93.032 32.496 93.032C49.344 93.032 60.576 82.736 60.576 68.072C60.576 55.28 50.592 44.984 36.864 44.984C34.68 44.984 32.184 45.296 29.688 45.92C33.432 31.568 47.472 24.392 65.88 26.888V5.048C31.248 0.367981 0.984 24.704 0.984 57.464ZM76.488 57.464C76.488 79.616 88.968 93.032 108 93.032C125.16 93.032 136.08 82.736 136.08 68.072C136.08 55.28 126.096 44.984 112.368 44.984C110.184 44.984 107.688 45.296 105.192 45.92C108.936 31.568 122.976 24.392 141.384 26.888V5.048C106.752 0.367981 76.488 24.704 76.488 57.464Z"></path>
              </svg></div>
          </div>
          <div class="testimonial-card">
            <div class="testimonial-card-content">
              <div class="testimonial-card-heading">Highly Recommend</div>
              <p class="testimonial-card-review">&quot;I can&#x27;t recommend Brand Beat enough! Their professionalism and creativity made all the difference in my project. They delivered on time and kept me updated throughout the process. The end product was not only visually stunning but also functional. I’ve already referred them to several friends!&quot;</p>
            </div>
            <div class="testimonial-card-rating"><Image src={FiveStarReview} loading="lazy" width="97" height="24" alt=""  class="testimonial-star-img"></div>
            <div class="testimonial-quote-large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="142" height="94" viewBox="0 0 142 94" fill="none"><!-- !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                <path fill="#ffffff" d="M0.984 57.464C0.984 79.616 13.464 93.032 32.496 93.032C49.344 93.032 60.576 82.736 60.576 68.072C60.576 55.28 50.592 44.984 36.864 44.984C34.68 44.984 32.184 45.296 29.688 45.92C33.432 31.568 47.472 24.392 65.88 26.888V5.048C31.248 0.367981 0.984 24.704 0.984 57.464ZM76.488 57.464C76.488 79.616 88.968 93.032 108 93.032C125.16 93.032 136.08 82.736 136.08 68.072C136.08 55.28 126.096 44.984 112.368 44.984C110.184 44.984 107.688 45.296 105.192 45.92C108.936 31.568 122.976 24.392 141.384 26.888V5.048C106.752 0.367981 76.488 24.704 76.488 57.464Z"></path>
              </svg></div>
          </div>
        </div>
      </div>
    </section>
    <div class="section-gradient_bottom hidden-in-tablet"></div>
  </section>