<div class="footer">
    <div class="w-layout-blockcontainer footer_container w-container">
      <div class="footer_main-block">
        <div class="footer-detail_main-block">
          <div class="footer_first-block">
            <a href="#" class="footer_brand w-inline-block"><img width="Auto" loading="lazy" alt="site logo" src="images/65c38ebb74992be0cd8df772_brandbeat-logo-white_1.avif" class="footer-logo-2"></a>
            <div class="footer_address">4551 Zimmerman Avenue, Niagara Falls, ON, L2E3M5</div>
            <a href="mailto:hello@brandbeat.ca" class="footer_email">hello@brandbeat.ca</a>
          </div>
          <div id="w-node-_7663cee9-6d8e-cfd5-0be9-d91280c60d90-187a8fc2" class="footer-detail_main-block-2">
            <div class="footer_second-block">
              <div class="footer_header-container">
                <div class="footer-list_heading">about us</div>
                <div class="line-wrap-2">
                  <div class="line"></div>
                </div>
              </div>
              <div class="footer-list">
                <a href="index.html" aria-current="page" class="footer-list_item w-inline-block w--current">
                  <div class="footer-list_item-text">Home</div>
                </a>
                <a href="about.html" class="footer-list_item w-inline-block">
                  <div class="footer-list_item-text">About</div>
                </a>
                <a href="services.html" class="footer-list_item w-inline-block">
                  <div class="footer-list_item-text">services</div>
                </a>
                <a href="blog.html" class="footer-list_item w-inline-block">
                  <div class="footer-list_item-text">blog</div>
                </a>
                <a href="contact-us.html" class="footer-list_item w-inline-block">
                  <div class="footer-list_item-text">contact</div>
                </a>
              </div>
            </div>
            <div class="footer-third_block">
              <div class="footer_header-container">
                <div class="footer-list_heading">services</div>
                <div class="line-wrap-2">
                  <div class="line"></div>
                </div>
              </div>
              <div class="w-dyn-list">
                <div role="list" class="footer-list w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <a href="#" class="footer-list_item w-inline-block">
                      <div class="footer-list_item-text w-dyn-bind-empty"></div>
                    </a>
                  </div>
                </div>
                <div class="w-dyn-empty">
                  <div>No items found.</div>
                </div>
              </div>
            </div>
            <div class="footer_fourth-block">
              <div class="footer_header-container">
                <div class="footer-list_heading">resource</div>
                <div class="line-wrap-2">
                  <div class="line"></div>
                </div>
              </div>
              <div class="footer-list">
                <a href="faqs.html" class="footer-list_item w-inline-block">
                  <div class="footer-list_item-text">FAQs</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_social-block">
        <div class="w-layout-blockcontainer footer_container w-container">
          <div class="contact-us_block">
            <div class="contact-form_block">
              <div class="email_block w-form">
                <div class="footer_contact-form_heading">Subscribe to our newsletter</div>
                <!-- TODO: Restore Form Functionality -->
                <!-- <form id="Form-Newsletter-Email-Subs" name="wf-form-Subscribe-Form-6" data-name="Subscribe Form" method="post" class="footer_form" data-wf-page-id="6722264040730034b9f50cfb" data-wf-element-id="7663cee9-6d8e-cfd5-0be9-d91280c60dd0"><input class="footer_input-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="Your Email" type="email" id="email-subscription" required=""><input type="submit" data-wait="Sign Me Up..." class="button_main in--footer w-button" value="Sign Me Up!"></form> -->
                <div class="footer_success-message w-form-done">
                  <div class="footer_success-message-text">Thank you! Your submission has been received!</div>
                </div>
                <div class="footer_error-message w-form-fail">
                  <div class="footer_error-message-text">Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
            <div id="w-node-_7663cee9-6d8e-cfd5-0be9-d91280c60dd9-187a8fc2" class="social_block">
              <div class="footer_social-icons">
                <a href="https://instagram.com/brandbeatmarketing" target="_blank" class="footer_social-icons-block w-inline-block">
                  <div class="footer_social-icon insta w-embed"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="21" viewBox="0 0 448 512"><!-- !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                      <path fill="#ffffff" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                    </svg></div>
                </a>
                <a href="https://www.linkedin.com/company/brandbeatmarketing" target="_blank" class="footer_social-icons-block w-inline-block">
                  <div class="footer_social-icon linkedin w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- !Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                      <path fill="#ffffff" d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"></path>
                    </svg></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_policy-block">
        <div class="footer_tc-wrapper">
          <a href="legal/privacy-policy.html" class="footer_tc">PRIVACY POLICY</a>
        </div>
        <div class="footer_copyright">© 2024 <a href="https://www.brandbeat.ca/" target="_blank" class="footer_copyright-link">Brand Beat</a> All Rights Reserved</div>
      </div>
    </div>
  </div>