<div fs-scrolldisable-element="when-visible" class="offer_popup-wrapper hide">
    <div class="offer_popup-inner-wrapper">
      <div class="offer_popup-block left-block">
        <div class="offer_popup-header">
          <div class="offer_popup-header-block"></div>
          <div class="offer_popup-header-block">
            <a data-w-id="15f5f1cd-e338-32fd-c60c-285c87be83bb" href="#" class="offer_popup-close-btn w-inline-block">
              <div>Close</div>
              <div class="popup_close-btn_underline-wrapper">
                <div class="popup_close-btn_hover-line"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="offer_popup-form-wrapper">
          <h6 class="offer_popup-h6">Unlock Your Business Potential with a Free Marketing Audit!</h6>
          <p class="offer_popup-paragraph">Ready to take your marketing strategy to the next level? Sign up for a <strong>complimentary audit</strong> and get personalized insights into your current business. Don&#x27;t miss out on a chance to elevate your brand — let&#x27;s start turning your marketing challenges into growth opportunities today!</p>
          <div class="offer_popup-form w-form">
            <!-- <form id="email-form" name="email-form" data-name="Email Form" method="get" data-wf-page-id="6722264040730034b9f50cfb" data-wf-element-id="15f5f1cd-e338-32fd-c60c-285c87be83ca"><input class="offer_popup-form-input w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Your email address" type="email" id="email-2" required=""><input type="submit" data-wait="Please wait..." class="offer_popup-form-submit w-button" value="Claim My Free Audit!"> -->
              <a href="legal/privacy-policy.html" class="offer_popup-text-link">Privacy Policy</a>
            <!-- </form> -->
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="offer_popup-block right-block"><img sizes="100vw" srcset="images/preston-pownell-SwIQu6xODrI-unsplash_1preston-pownell-SwIQu6xODrI-unsplash.avif 500w, images/preston-pownell-SwIQu6xODrI-unsplash_1.avif 1224w" alt="" src="images/preston-pownell-SwIQu6xODrI-unsplash_1.avif" loading="lazy" class="offer_popup-image"></div>
    </div>
  </div>