<div class="section_cta1">
    <div class="cta_grid-wrapper">
      <div id="w-node-c8caf9ae-01f6-b662-8b6f-85e1f736d2cb-f736d2c9" class="cta_stacked-content">
        <div class="cta_content-wrapper">
          <div id="w-node-c8caf9ae-01f6-b662-8b6f-85e1f736d2cd-f736d2c9" class="cta_content">
            <div class="cta_stacked-intro">
              <h1 class="cta_heading">Ready to Take Your Brand to the Next Level?</h1>
              <div class="cta_small-width">
                <div class="cta_body-display">Our work drives positively brilliant results, every time.</div>
              </div>
            </div>
            <a href="https://calendly.com/brandbeat/marketingaudit?background_color=fcfaf7&amp;primary_color=ed4b00" id="w-node-c8caf9ae-01f6-b662-8b6f-85e1f736d2d4-f736d2c9" class="cta_large-circle-link w-inline-block">
              <div class="cta_grain-wrapper">
                <div class="cta_grain in-block"></div>
              </div>
              <div class="cta_button-text">Get a Free Quote!</div>
              <div class="cta_link-hover-fill"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>